<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "September May Wedding Designs" %></title>
  <meta name="description" content="<%= @page_description || "September May Wedding Designs"%>">
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content-wrap">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <%= javascript_include_tag "common" %>
  <%= yield :script %>
</body>
</html>
